<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>edgars.beigarts@gmail.com</string>
	<key>contactName</key>
	<string>Edgars Beigarts</string>
	<key>description</key>
	<string></string>
	<key>name</key>
	<string>X</string>
	<key>uuid</key>
	<string>3FFF5500-2ED4-11E4-8C21-0800200C9A66</string>
</dict>
</plist>
