"*":
  editor:
    showInvisibles: true
    invisibles: {}
    fontSize: 15
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*~"
      "*.rpm"
      "*.war"
      "*.jar"
      "*.sqlite3"
      "log"
      "tmp"
      "*.sass-cache"
      "coverage"
      "node_modules"
      "protected"
      "uploads"
    ]
    disabledPackages: [
      "whitespace"
      "welcome"
      "linter-jshint"
      "linter-xmllint"
    ]
    excludeVcsIgnoredPaths: false
  "exception-reporting":
    userId: "5d4c374d-930e-f430-09a9-2b853f663818"
  "release-notes":
    viewedVersion: "0.84.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "93502b042e225d375f200869bf82b200dd55333c"
  "tree-view":
    showOnRightSide: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "linter-coffeelint": {}
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
  "fuzzy-finder": {}
  "one-light-ui":
    layoutMode: "Compact"
  "ruby-test":
    specFramework: "rspec"
  alignment: {}
